//
  Rendered from reply.js

extends layout

block content

    // Begin comment button
    .container-fluid.text-center(id="buttonContainer")
      p
        button.btn.btn-primary(type="button", id="button")
          | Comment

    // Validation error message partial
    include partials/messages

    .container-fluid.text-center(id="form")
      p
        form(action="/reply", method="post", enctype="multipart/form-data")
          input(type="hidden", name="postId", id="postId", value=postData._id)
          .form-group
            label.sr-only(for="comment")
            textarea.form-control(id="comment", name="comment", placeholder="Comment", required)
          .form-group
            label.sr-only(for="name")
            input.form-control(id="name", name="name", placeholder="Name, optional")
          button.btn.btn-default(type=submit)
            | Submit
    // End comment button

    // Begin thread content
    .container-fluid
      .container-fluid.OPReply
        b
          - var fileLink = "/upload/" + postData._id;
          a(href=fileLink, target="_blank") #{postData._id}
          | &nbsp&nbsp;&nbsp;&nbsp;
          | #{postData.name}
          | &nbsp;&nbsp;&nbsp;&nbsp;
          | #{postData.fileName}
        p= postData.comment
      unless postData.replies == null
        each reply in postData.replies
          .container-fluid.reply
            b #{reply.dateReplied} &nbsp;&nbsp;&nbsp;&nbsp; #{reply.name}
            p #{reply.comment}
    // End thread content