//
  Rendered from index.js

extends layout

block content

  // Begin post button
  .container-fluid.text-center(id="buttonContainer")
    p
      button.btn.btn-primary(type="button", id="button")
        | Post

  // Validation error message partial
  include partials/messages

  .container-fluid.text-center(id="form")
    p
      form(action="/upload", method="post", enctype="multipart/form-data")
        .form-group
          label.sr-only(for="subject")
          input.form-control(id="subject", name="subject", placeholder="Subject")
        .form-group
          label.sr-only(for="file")
          input.text-center.center-input(type="file", name="file", id="file", required)
        .form-group
          label.sr-only(for="comment")
          textarea.form-control(id="comment", name="comment", placeholder="Comment")
        .form-group
          .radio
            label.sr-only(for="game")
            input(type="radio", name="tag", value="game", checked)
            | Game
          .radio
            label.sr-only(for="video")
            input(type="radio", name="tag", value="video")
            | Video
          .radio
            label.sr-only(for="loop")
            input(type="radio", name="tag", value="loop")
            | Loop
        .form-group
          label.sr-only(for="name")
          input.form-control(id="name", name="name", placeholder="Name, optional")
        button.btn.btn-default(type="submit")
          | Submit
  // End post button

  // Begin board content
  .container-fluid.text-center
    table.table.table-striped.text-center
      thead
        tr
          th.text-center
            | No.
          th.text-center
            | Name
          th.text-center
            | File
          th.text-center
            | Tag
          th.text-center
            | Subject
          th.text-center
            | Size
          th.text-center
            | Date
          th.text-center
            | Replies
      tbody.text-center
        each post in posts
          tr.text-center
            td= post._id
            td= post.name
            td
              - var fileLink = "/upload/" + post._id;
              a(target="_blank", href=fileLink) #{post.fileName}
            td= post.tag
            td= post.subject
            - var newSize = post.fileSize
            if (newSize < 1024)
              td #{newSize}B
            if (newSize > 1024 && newSize < 1048576)
              - newSize = newSize / 1024;
              - newSize = newSize.toString().substr(0,4);
              td #{newSize}KB
            else
              - newSize = (newSize / 1024) / 1024
              - newSize = newSize.toString().substr(0,4);
              td #{newSize}MB
            td= post.datePosted
            td
              - var repliesCount = post.replies.length;
              - var replyLink = "/reply/" + post._id;
              a(href=replyLink)= repliesCount
  // End board content